<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- vide -->
    </div>
    <div class="col-sm">
    <h1>Create your Spot</h1>

    <%= render "form", spot: @spot %>

    </div>
    <div class="col-sm">
      <!-- vide -->
    </div>
  </div>
</div>



<!-- post_path(id: @post.id)
 -->


<%#= simple_form_for @spot, url:(spots_path(@spot)) do |f| %>




