<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- vide -->
    </div>
    <div class="col-sm">
    <h1>formulaire de création d'un spot</h1>

    <div> <%= link_to "spot_list", list_path  %></div>

    </div>
    <div class="col-sm">
      <!-- vide -->
    </div>
  </div>
</div>



