<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- vide -->
    </div>
    <div class="col-sm">
      <h1> Options </h1>

      <button type="button" class="btn btn-dark">load</button>

      <%= button_to "load", action="/spots/show"   %>
      <div><%= link_to "wizard", wizard_path  %></div>

    </div>
    <div class="col-sm">
      <!-- vide -->
    </div>
  </div>
</div>



