<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- vide -->
    </div>
    <div class="col-sm">
      <h1> resultat du wizard</h1>
      <div><%= link_to "spot list",spots_path  %></div>
      <div><%= link_to "options", options_path  %></div>

    </div>
    <div class="col-sm">
      <!-- vide -->
    </div>
  </div>
</div>


