.wcold{
 color:#30B9E6;
}
.w0{
 color:white;
}
.w1{
 color:white;
}
.w2{
 color:white;
}
.w3{
 color:white;
}
.w4{
 color:white;
}
.w5{
 color:white;
}
.w6{
 color:#FFFFFF;
}
.w7{
 color:#FFFFFF;
}
.w8{
 color:#93F9F5;
}
.w9{
 color:#89F9F4;
}
.w10{
 color:#45FAA2;
}
.w11{
 color:#28FD00;
}
.w12{
 color:#22FC50;
}
.w13{
 color:#15FD31;
}
.w14{
 color:#17FE00;
}
.w15{
 color:#31FC00;
}
.w16{
 color:#67F900;
}
.w17{
 color:#B0F500;
}
.w18{
 color:#D5F200;
}
.w19{
 color:#FDF000;
}
.w20{
 color:#FF4927;
}
.w21{
 color:#FFA013;
}
.w22{
 color:#FF8D17;
}
.w23{
 color:#FF2D3F;
}
.w24{
 color:#FF4927;
}
.w25{
 color:#FF332C;
}
.w26{
 color:#FF2A4B;
}
.w27{
 color:#FF294E;
}
.w28{
 color:#FF4927;
}
// Achanger
.w29{
 color:#FF4927;
}
.w30{
 color:#FF01F9;
}
.w31{
 color:#FF0BC3;
}
.w32{
 color:#FF0AC9;
}
.w33{
 color:#FF09CE;
}
.w34{
 color:#FF06DE;
}
.w35{
 color:#FF06E1;
}
.w36{
 color:#FF03F0;
}
.w37{
 color:#FF02F2;
}
.w38{
 color:#FF01FC;
}
.w39{
 color:#F107FF;
}
.w40{
 color:#DA12FF;
}
.w41{
 color:#B523FF;
}
.w42{
 color:#B523FF;
}
.w43{
 color:#B523FF;
}
.w44{
 color:#B523FF;
}
.w45{
 color:#B523FF;
}
.w46{
 color:#B523FF;
}
.w47{
 color:#B523FF;
}
.w48{
 color:#B523FF;
}
.w49{
 color:#B523FF;
}
.w50{
 color:#B523FF;
}
