// body {
//   background-color: blue;
// }

h1 {
  color: white;
}

a {
  color: white;
}

.white {
  color: white;
}

//  div {
//   border: solid grey 1px
// }

//  span {
//   border: solid white 1px
// }


.session{
  background: #1E1E1E;
  border-radius: 5px;
  margin-top: 5px;
}

.label{
  width: 30%;
  display: inline-block;
}

.wind{
  width: 35%;
  display: inline-block;
}

.wave{
  width: 45%;
  display: inline-block;
}

.accordion-session{
  display: flex;
  // justify-content: space-around;
}
