// body {
//   background-color: blue;
// }

h1 {
  color: white;
}

a {
  color: white;
}

.white {
  color: white;
}

//  div {
//   border: solid grey 1px
// }

.session{
  background: #1E1E1E;
  border-radius: 5px;
  margin-top: 5px;
}
