// body {
//   background-color: blue;
// }

h1 {
  color: white;
}

a {
  color: white;
}

.white {
  color: white;
}

//  div {
//   border: solid grey 1px
// }

//  span {
//   border: solid orange 1px
// }


.session{
  background: #1E1E1E;
  border-radius: 5px;
  margin-top: 5px;
}

.label{
  width: 30%;
  display: inline-block;
}



.wind{
  width: 35%;
  display: inline;
}

.wave{
  width: 35%;
  display: inline-block;
}

@media (max-width: 400px) {
  .wind {
    width: 190px;
    // display: inline-block;
    }
    /* CSS goes here */
}

.accordion-session{
  display: flex;

  // justify-content: space-around;
}

.update {
    font-style:italic;
}
// .separation{
//   display: flex;
//   flex-wrap: wrap;
//   flex:1;
// }

// hr {
//   // flex: 0 0 100%;
//   border: 1px solid white;
//   width:50%;

// }
